@font-face {
    font-family: 'Kobzar KS';
    src: url('./Pacifico-Regular.ttf');
}

@font-face {
    font-family: 'Oranienbaum';
    src: url('./Oranienbaum-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./PlayfairDisplay-VariableFont_wght.ttf');
}